<p>Detta meddelande finns i partials.hbs</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Veritatis voluptates explicabo eum cupiditate laboriosam
    odit illo ex voluptatibus quibusdam cum ipsum dicta quo
    dignissimos fugit minus sit, reiciendis tempora est?
</p>