<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="svgs.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>Namn</h1>
        </div>
        <nav>
            <a href="/svgs">SVGS</a>
            <a href="/colors">COLORS</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>