<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js" defer></script>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/svgs.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>svg-db</h1>
        </div>
        <nav>
            {{!--
            svgs
            colors
            git-commands
            links
            --}}
        </nav>
    </header>
    <main>
        <div class="popup">
            <div>
                <div class="svgContainer"></div>
                <h2 id="svgName">svg-name-example.svg</h2>
                <textarea id="svgCode" readonly></textarea>
                <button onclick="$('.popup').hide();">Close</button>
            </div>
        </div>
        {{{body}}}
    </main>
</body>
</html>