<div class="popup">
    <div>
        <div class="svgPlaceholder"></div>
        <h2 id="svgName">svg-name-example.svg</h2>
        <textarea id="svgCode" readonly></textarea>
        <button onclick="$('.popup').hide();">Close</button>
    </div>
</div>

<div class="svgContainer"></div>