/* GLOBAL
####################################*/

body, * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-columns: 100vw;
    grid-template-areas:
    'header'
    'main';
    overflow: hidden;
}

/* HEADER
####################################*/

header {
    grid-area: header;
    background: rgb(152,116,245);
    background: linear-gradient(45deg, rgba(152,116,245,1) 0%, rgba(94,160,255,1) 50%, rgba(50,200,255,1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

header div {
    display: flex;
    align-items: center;
}

header div h1 {
    font-size: 24px;
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 20px 30px;
}

header nav a:hover {
    color: black;
}

/* MAIN
####################################*/

main {
    grid-area: main;
    overflow-y: scroll;
    padding: 20px;
}