h2:not(:first-of-type) {
    margin: 30px 0px 0px 0px;
}

svg {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 2px;
}

svg:hover {
    background-color: #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
}

.error {
    background-color: rgb(255, 144, 144);
    border: 2px solid red;
    padding: 15px;
}

.popup {
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup > div {
    padding: 20px;
    width: 500px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, rgba(152,116,245,1) 0%, rgba(94,160,255,1) 50%, rgba(50,200,255,1)) 1;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup > div > .svgContainer > * {
    margin: 0px;
    padding: 0px;
}

.popup > div > .svgContainer > *:hover {
    background-color: unset;
    cursor: unset;
}

.popup > div > textarea {
    all: unset;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 150px;
    max-height: 100vh - 200px;
    margin: 10px 0px;
}

.popup > div > button {
    all: unset;
    box-sizing: border-box;
    color: red;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}